@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>About</p>
<p>Find the best book for you interests and share with others.</p>
<p>Lets make reading our exciting hobby.</p>

